@import "tailwindcss";

@utility container{
    margin-inline:auto;
    max-width: 1296px;
}



@theme{
    /* ------ colors */
    --color-primary:#F8F8F8;
    --color-secendary:#4B5563;

    /* ------- fonts */
    --font-poppins:"Poppins", sans-serif;



}